body {
  background-image: url(../img/jazz-clipart-silouette.png);
  /* margin: 0; */
}

.burger-header,
.burger-menu,
.add-hamburger {
  border-radius: 25px;
  background-color: rgb(186, 206, 223);
}

h2,
.add-hamburger,
.instructions,
.add-instructions,
.header-info {
  text-align: center;
}

.burger-header {
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkblue;
  box-sizing: border-box;
  padding: 10px;
}

.add-hamburger {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.add-devour-btn {
  display: flex;
  align-items: flex-end;
}

ul {
  list-style-image: url("https://icons.iconarchive.com/icons/google/noto-emoji-objects/24/62808-saxophone-icon.png");
}

.name {
  font-size: 20px;
}

.list {
}
/* 
.available-burgers,
.eaten-burgers {
  margin: 5px;
} */
